<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Catz-n-Dogz</title>
</head>

<body class="flex-column min-100-vh">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    {{#if loggedIn}}
                    <button id="logout" class="btn">Logout</button>
                    {{else}}
                    <a class="nav-link" href="/login">Login</a>
                    {{/if}}
                </li>
            </ul>
        </div>
    </nav>
    <header>
        <div class="title">
            <h3><strong>Welcome</strong></h3>
            <h3>Upload your lost or found pet here!</h3>
        </div>
    </header>

    <div id="root">
        <div class="cat-container">
            <div class="cat walk-then-sit-then-run"></div>
        </div>
    </div>


    
        <div class="container register">
            <div class="row">

                
                        <h3 class="register-heading">Post A Pet</h3>
                        <div class="row register-form" id="post-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="newBreed" placeholder="Breed *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="newGender" placeholder="Male/Female *" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="newContact" placeholder="Contact Info *" value="" />
                                </div>
                                <div class="form-group">

                                </div>

                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline">
                                            <input type="radio" name="lostFound" value="lost">
                                            <span> Lost </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="lostFound" value="found">
                                            <span>Found </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Cat/Dog *" value="" />
                                </div>
                                <input type="submit" class="btn btn-warning" value="Upload" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <main class="col-auto"></main>
        {{{body}}}
    </main>


    <footer class="flex-row justify-center margin-bottom">
        &copy; Catz-n-Dogz
    </footer>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/cloudinary.js"></script>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>