<section class="container">
    <h3 class="animal-name">{{animal.animal_name}}</h3>
    <section class="flex-row justify-center">
        {{#each animal.pets as |pet|}}
        {{> pet-details}}
        {{/each}}
    </section>
</section>