body {
    background-color: mediumaquamarine;
}

h1 {
    font-size: 150px;
    text-align: center;
    font-family: 'Zen Tokyo Zoo', cursive;
    color: mintcream;
}

a:link {
    color: white;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
}


p {
    font-size: 30px;
    text-align: center;
    color: mintcream;
}

footer {
    text-align: center;
    color: mintcream;
}