body {
    background-color: mediumaquamarine;
}

header{
    margin-top: 5rem;
}

h1 {
    font-size: 150px;
    text-align: center;
    font-family: 'Zen Tokyo Zoo', cursive;
    color: mintcream;
}

h2 {
    color: mintcream;
    text-align: center;
}

.btn {
    color: rgb(214, 22, 134);
    vertical-align: middle;
}

a:link {
    color: white;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.row {
    /* display: -ms-flexbox; */
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

p {
    font-size: 30px;
    text-align: center;
   
}

footer {
    text-align: center;
    color: mintcream;
}

#img-preview{
    height: 25%;
    width: 25%;
}

.file-upload-container {
    width: 10%;
    height: 50px;
    overflow: hidden;
    background: mediumaquamarine;
    user-select: none;
    transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    text-align: center;
    color: mintcream;
    line-height: 50px;
    font-weight: 300;
    font-size: 20px;
}

.file-upload-container:hover {
    cursor: pointer;
    background: mediumaquamarine;
}
.card {
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 18rem;
    margin: 10px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
