body {
    background-color: mediumaquamarine;
}

header{
    margin-top: 5rem;
}

h1 {
    font-size: 150px;
    text-align: center;
    font-family: 'Zen Tokyo Zoo', cursive;
    color: mintcream;
    text-shadow: 0px 6px 6px rgb(68, 101, 84);
}

h2 {
    color: mintcream;
    text-align: center;
}
p {
    color: mintcream;
}

.btn {
    color: rgb(214, 22, 134);
    vertical-align: middle;
}

a:link {
    color: white;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.row {
    /* display: -ms-flexbox; */
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

p {
    font-size: 30px;
    text-align: center;
   
}

footer {
    text-align: center;
    color: mintcream;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18rem;
    margin: 10px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .50rem;
    box-shadow: 0px 24px 24px rgb(68, 101, 84);
}
